.bead {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 800px;
  height: 800px;
  background-color: white;
  border: 5px solid black;
}

.color {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 600px;
  font-weight: bold;
  background-color: transparent;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.button-wrapper {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -90%);
  background-color: white;
}

button {
  background-color: black;
}
